<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
xmlns:gap   = "http://phonegap.com/ns/1.0"
id          = "edu.uab.business.studentapp"
versionCode = "1" 
version     = "0.0.1" >
<!--versionCode is optional and Android only -->
<name>
    Chris Ruggieri Assignment 5
</name>

<description>
    Chris Ruggieri Assignment 5
</description>

<author>
    Chris Ruggieri
</author>
<preference name="phonegap-version" value="cli-7.0.1" />
<plugin name="cordova-plugin-whitelist" source="npm" />
<access origin="*" />
<plugin name="cordova-plugin-geolocation" source="npm" />
<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
<icon src = "icon.png"/>
<splash src= "splash.png"/>
<preference name="SplashScreenDelay" value="3000" />
</widget>